
@{
     @model IEnumerable<News>
     ViewData["Title"] = "Index";
}

<!-- MAIN CONTENT-->
<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h2>Xəbərlər</h2>
                    </div>
                </div>
                <div class="row" style="margin: 30px 0;">
                    <div class="col-12">
                        <a asp-action="Create" class="btn btn-primary btn-block">
                            <i class="fas fa-plus"></i> Create New Slider
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Sekil</th>
                        <th>Basliq</th>
                        <th>Qisa Melumat</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var n in Model)
                        {
                    <tr>
                        <td>
                            <img style="width: 150px;" src="~/images/@n.PhotoURL" class="img-thumbnail" />
                        </td>
                        <td>
                            <p>@n.Title</p>
                        </td>
                        <td>
                            <p>@n.ShortInfo</p>
                        </td>
                        <td style="vertical-align: middle; text-align: center; color:white;">
                            <a title="See details" asp-action="Details" asp-route-id="@n.Id" class="btn btn-success"><i class="fas fa-info"></i></a>
                            <a title="Edit Slider" asp-action="Edit" asp-route-id="@n.Id" class="btn btn-warning"><i class="far fa-edit"></i></a>
                            <a title="Delete" asp-action="Delete" asp-route-id="@n.Id" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                            }
                    </tbody>
            </table>


        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
